<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>


<!-- all errors could be displayed https://blainerobertson.github.io/340-js/views/server-validation.html -->
<p>You're logged in</p> 
<!-- ///////////////////// -->


<% if (accountData.account_type === "Client") { %>
  <h2>Welcome <%= accountData.account_firstname %></h2>

  <p>  <a href="update">Update account information</a>    </p> <!-- Task 3: change this link to pass through the accounts router and be handled by the accounts controller. The id of the logged-in client should be passed through the link.  -->
   <% } else { %>
     
     <h2>Welcome <%= accountData.account_firstname %></h2>
    
     <p>  <a href="update">Update account information</a>    </p>
      <h3>Inventory Management</h3>
      <p>  <a href="/inv/">Inventory Management</a>    </p>
  <%
  } %>

  


<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>


<div>

<h2>Reviews</h2>

<!-- <p>placeholder: add past reviews here
  make it a list loop
  <ul>
    <li>1. edit/delete</li>
    <li>2. edit/delete</li>
  </ul>
</p> -->
<%#- review_item %>
<% if (review_item) { %>
  <%- review_item %>
  <% } else {
    %> <p>You have not made any reviews yet.</p>
  <% } %>

<!-- this is the start of the loop list, see if it works. How do I reference the account _id for the account being updated?  -->
<!-- <%# if (reviews) { %>
  <ul class="oldReview">
 <%# reviews.array().forEach(review => { %>
   <li><%#= review %></li>
<%#  }) %>
 </ul>
<%# } %> -->

</div>


<!-- ***************** -->
  

  <%# accountData.account_type %>
<%# console.log(accountData.account_type) %>

<!-- <script>
  // console.log(accountData.account_firstname + " test 2 account data")
  console.log(newAccountData.account_firstname + " test 2 new data ")

</script> -->